#rh-subnav {
    display: none;
}

article {
    max-width: 1100px;
    margin: auto;
}

img {
    margin: auto;
    display: block;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    color: #00285E;
    margin: 40px auto;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #00285E;
    text-align: center;
    text-transform: uppercase;
}

#container {
    margin: 35px auto;
    width: 50%;
}

.stats-text {
    text-align: center;
    flex: 1 auto;
    margin-bottom: 15px;
}

thead {
    background-color: #00285E;
    cursor: pointer;
}

th {
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #808080;
    font-family: 'Open Sans', sans-serif;
    padding: 13px 26px;
}

th a {
    color: white;
}



/*.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #808080;
}*/

/*.stats {
    height: auto;
    border: 1px solid #808080;
    padding: 15px;
    flex: 3 auto;
}

.stats p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}*/

/* COMPARE TABLES */
/*thead {
    border-bottom: 1px solid #ccc; }

tr:nth-child(even) {
    background-color: #dedede; }

col:nth-child(2n+3) {
    background-color: #ededed; }

table.compare {
    font-family: 'Open Sans', sans-serif;
}*/

/*table.compare tbody tr:first-child td:nth-child(n+2):after {
    content: '';
}

table tr th { padding: 2px; }

table.compare td { text-align: center; }

table.compare {
    border: 1px solid #ddd;
}

.compare thead tr th {
    text-align: center;
    padding: 2px 3px 5px;
    line-height: 21px;
    background-color: #00285E;
    border-right: 1px solid #ddd;
}*/

/*th a {
    cursor: pointer;
}

th.tablesorter-headerAsc { 
    content: ">";
}

table.compare tr td {
    border-right: 1px solid #ddd;
}*/

@media only screen and (min-width: 320px) and (max-width: 1100px) {
    article {
        margin: 30px;
    }

    article img {
        width: 100%;
    }

    h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    article p {
        font-size: 13px;
        line-height: 23px;
    }

    #container {
        width: 100%;
    }
}

/* Fixes for social menu */
/*body #rh-subnav-wrap {
    padding: 10px 20px 0;
}
#rh-subnav ul {
    width: 200px;
}*/
.center {
    text-align: center;
    margin: auto;
}

div.ad { width: 300px; }
div.ad > span {
    font-size:10px;
    color:#999;
    font-family:sans-serif;
}

.hide { display: none; }
