article {
    max-width: 1100px;
    margin: auto;
}

article p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    color: navy;
    margin: 40px auto;
    text-align: center;
    text-transform: uppercase;
}


/* Fixes for social menu */
body #rh-subnav-wrap {
    padding: 10px 20px 0;
}
#rh-subnav ul {
    width: 200px;
}
.center {
    text-align: center;
    margin: auto;
}

div.ad { width: 300px; }
div.ad > span {
    font-size:10px;
    color:#999;
    font-family:sans-serif;
}